html{
	background:#eee;
	color:#111;
	filter:invert(1);
}
@media (prefers-color-scheme: light) {
	html{
		filter:invert(0);
	}
	*.invalid, *:invalid{
		border-color:#ff1400;
	}
}
*{
	font-family:sans-serif;
	border-radius:2px;
}
button{
	width:100%;
}
*.invalid, *:invalid{
	border-color:#00ebff;
}